body{
    background-color:black;
	font-family: "Roboto-type";
	font-size: x-small;
	}
.contenedor {
	background: white;	
	width: 420px;
	height: 585px;
	margin:auto	
}
.cabecera{
	display: flex;
	height: 8%;
	padding: 2%;
	justify-content: space-between;
}
.cabecera .cleft {
	justify-content: flex-start;	
	height:10% ;
	padding: 2%;
}
.cabecera .cright {
	justify-content: flex-end;
	height:10% ;
	padding: 2%;
}
.titulo{
	width: 100%;
}
.titulo p{
	margin-top: -3px;
	margin-bottom: 0;
	font-size: x-small;
	/* height: 10%; */
	padding: 2%;
}
.imagen img{
	width: 420px;
	height: 310px;
}
.iconos{
	display: flex;
    height: 6%;
    padding: 2%;
    justify-content: space-between;

}
.iconos .iconosleft{
justify-content: flex-start;
}
.iconos .iconosright{
	justify-content: flex-end;
}
.pie{
	justify-content: flex-start;
    font-size: xx-small;
    padding: 3%;
}
.titulo p:first-child{
	height: 13%;
}

